{% extends 'base.html' %}

{% block content %}
<div class="container">
	{% if school %}
		<h2 style="text-align:center;margin-bottom: 10px;">{{ school }}</h2>
	{% endif %}
	<form style="text-align:center;" action="" method="POST" novalidate>
		{{ grade_form.hidden_tag() }}
		{{ grade_form.course_name.label }}{{ grade_form.course_name(size=20) }}
		{% for error in grade_form.course_name.errors %}
			<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
		{{ grade_form.credits.label }} {{ grade_form.credits(size=3) }}
		{% for error in grade_form.credits.errors %}
			<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
		{{ grade_form.grade.label }} {{ grade_form.grade }}
		{% for error in grade_form.grade.errors %}
			<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
		{{ grade_form.add }}
	</form>
</div>
<div class="container">
	{% if grades|length > 0 %}
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Course</th>
				<th>Credits</th>
				<th>Grade</th>
				<th>Grade (4.0 Scale)</th>
			</tr>
		</thead>
		<tbody
		{% for grade in grades %}
			<tr>
				<td>{{ grade[0] }}</td>
				<td>{{ grade[1] }}</td>
				<td>{{ grade[2] }}</td>
				<td>{{ grade[3] }}</td>
				<td width="30px"><a href="{{ url_for('delete_grade', course=grade[0]) }}"><span style="font-size: 2em; color: black;"><i class="fas fa-trash"></i></span></a></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	<div class="container" style="text-align:center;">
		{% if gpa %}
			<p>Converted GPA: <b>{{ gpa|round(2, 'floor') }}</b></p>
		{% else %}
			<p>Converted GPA: <b>{{ gpa }}</b></p>
		{% endif %}
	</div>
	{% endif %}
</div>
<br/>
<br/>
{% endblock %}